*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

#icon
{
	width: 7em;
	margin-top: 5em;
}

h1
{
	font-size: 40px;
	font-size: clamp(40px, 4vw, 50px);
	margin: 0.2em;
	text-align: center;
}

h2
{
	font-size: 18px;
	font-size: clamp(18px, 2vw, 20px);
	color: #757575;
	margin: 0 0.2em 1em 0.2em;
	text-align: center;
}

ul
{
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

li
{
	padding: 0.2em;
	margin: 1em 0.5em 1em 0.5em;
}

#cta
{
	margin: 2em 0.5em 0 0.5em;
	font-size: 20px;
	text-align: center;
}

#project-ul
{
	margin-top: 3em;
	font-size: 18px;
}

main
{
	width: 90vw;
}

.section-title
{
	font-size: 30px;
	margin: 3em 0 2em 0;
}

.sub-section
{
	display: flex;
	margin: 3em 0;
}

.col-1
{
	flex: 0.3;
	margin-right: 0.2em;
}

.sub-section-name
{
	font-size: 30px;
	font-weight: bold;
}

.sub-section-descp
{
	margin: 1.5em 0 2em 0;
}

.col-1 a
{
	word-break: break-all;
}

.project-link
{
	margin-top: 0.5em;
}

.project-tech
{
	margin-top: 2em;
}

.sub-section iframe
{
	flex: 0.7;
	height: 80vh;
	border: 1px solid black;
}

.col-2
{
	flex: 0.7;
	flex-direction: column;
}

.talk-details
{
	margin: 3em 0;
}

.last-talk-of-year
{
	margin-top: 0;
}

.talk-title
{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.talk-platform, .talk-location-date
{
	color: #757575;
	margin-bottom: 0.5em;
}

footer
{
	padding: 2em 0.2em;
	text-align: center;
	font-size: 20px;
}

@media screen and (max-width: 650px)
{
	#section-title
	{
		margin-bottom: 0;
	}

	.sub-section
	{
		flex-direction: column;
	}

	.col-1
	{
		margin-right: 0;
		margin-bottom: 1em;
	}

	.sub-section iframe
	{
		width: 85vw;
		margin: auto;
	}
}
